
ProyectoEventos/.vs/ProyectoEventos/v15/Server/sqlite3/db.lock
ProyectoEventos/.vs/ProyectoEventos/v15/Server/sqlite3/storage.ide
ProyectoEventos/.vs/ProyectoEventos/v15/Server/sqlite3/storage.ide-shm
ProyectoEventos/.vs/ProyectoEventos/v15/Server/sqlite3/storage.ide-wal
